.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

header {
    height: 93px;
    
}

header img{
    width: 500px;
    height: 92px;
}

.row0 ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #007399;
}

.row0 li {
    float: left;
}

.row0 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.row0 li a:hover {
    background-color: #336699;
}

.heroimage {
    height: 630px;
    background: url("../images/heroimage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 2%;
    padding-top: 100px;
}

.heroimage h1 {
    font-style: italic;
    background-color: #007399;
    color: white;
    margin-left: 35%;
    margin-top: 15%;
}

/**/
{
    margin-left: 0;
}

.four {
    width: 30%;
    float: left;
    margin-left: 2%;
    /*margin-top: 2%;*/
    margin-bottom: 2%;
}

.eight {
    width: 62%;
    float: left;
    margin-left: 2%;
    /*margin-top: 2%;*/
    margin-bottom: 2%;
}


.row {
    width: 100%;
    clear: both;
    /* Clear creates new styles for the next row */
    padding: 0px;
    margin: 0px;
}



.row3 .four {
    height: 533px;
    background-color: black;
}

.row4 .eight,
.row4 .four {
    height: 500px;
    background-color: #f2f2f2;
}

.row3 .left {
    background-image: url("../images/weather.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.row3 .middle {
    background-image: url("../images/table.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.row3 .right {
    background-image: url("../images/heatmap.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.row4 .left {
    background-image: url("../images/london.png");
    background-size: cover;
}

.row4 .right {
    font-style: sans-serif;
    text-align: justify;
    font-size: 17px;
    word-spacing: 7px;
    padding: 0px 15px;
}

.row4 .right p {
    font-style: italic;
}

.footer {
    float: center;
    margin-top: 520px;
    height: 80px;
    background-color: grey;
}

.footer li {
    float: left;
    list-style: none;
    margin-left: 5px;
}

.footer span {
    float: left;
    color: white;
}