body{
	
	background: url("../html/1.jpeg") no-repeat;
	background-size: cover; 
	font-family: sans-serif;
	color: grey;
}

.navigation>ul> li{
	float: left;
	display: inline-block;
	padding: 5px 25px;
	background-color: grey;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-style: 20px;
	margin-right: 1px;
	position: relative;

}
.navigation>ul li a{
	text-decoration: none;
	list-style: none;
	color: white;
	display:block;
}

}
.navigation>ul li a:hover{
	background-color: green;
	list-style-type: none;
}
.navigation>ul li ul li {
	display: none;
}
.navigation>ul li:hover ul li{
	display: block;
	text-decoration: none;
}